<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= product[0].product_name %></title>
  </head>
  <body>
    <h1><%=product[0].product_name %></h1>
    <div>
      <div>Product description: <%=product[0].description %></div>
      <div><img src="<%= product[0].source_image %> " alt="" /></div>
      <div>Actual Price: <%=product[0].actual_price %></div>
      <div>Price offered: <%=product[0].price_offered %></div>
      <div>
        <p>Rating:</p>
        <% for(let p of product) {%>
        <ul>
          <li><%=p.e_website_name %></li>
          <li><%=p.rating_value %></li>
        </ul>
        <% } %>
      </div>
    </div>
  </body>
</html>
