<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= category[0].category_name %></title>
  </head>
  <body>
    <h1>All <%= category[0].category_name %></h1>
    <ul>
      <% for(let c of category) {%>
      <div>
        <a href="/product/<%= c.product_id %> "><li><%= c.product_name %></li></a>
        <li><%= c.description %></li>
      </div>
      <% } %>
    </ul>
  </body>
</html>
